<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diagnosis.name %>
</p>

<p>
  <strong>Files:</strong>
  <%= @diagnosis.stored_files.map(&:name).join(", ") %>
</p>

<p>
  <strong>Drugs:</strong>
  <%= @diagnosis.drugs.collect(&:name).join(", ") %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
