<p id="notice"><%= notice %></p>

<p>
  <strong>Respiratorysystem:</strong>
  <%= @systemic_exam.RespiratorySystem %>
</p>

<p>
  <strong>Gastrointestinalsystem:</strong>
  <%= @systemic_exam.GastroIntestinalSystem %>
</p>

<p>
  <strong>Cardiovascularsystem:</strong>
  <%= @systemic_exam.CardioVascularSystem %>
</p>

<p>
  <strong>Nervoussystem:</strong>
  <%= @systemic_exam.NervousSystem %>
</p>

<p>
  <strong>Eye:</strong>
  <%= @systemic_exam.Eye %>
</p>

<p>
  <strong>Ent:</strong>
  <%= @systemic_exam.ENT %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @systemic_exam.Skin %>
</p>

<p>
  <strong>Genitourinalsystem:</strong>
  <%= @systemic_exam.GenitoUrinalSystem %>
</p>

<p>
  <strong>Musculoskeletalsystem:</strong>
  <%= @systemic_exam.MusculoSkeletalSystem %>
</p>

<%= link_to 'Edit', edit_systemic_exam_path(@systemic_exam) %> |
<%= link_to 'Back', systemic_exams_path %>
