<div class="form-group">
    <label class="control-label col-sm-2">Current Files</label>
    <div class="col-sm-10">
      <table class="table table-bordered table-responsive">
        <thead>
          <th>File</th>
          <th>Select</th>
        </thead>
        <tbody id="stored_files">
          <% if @base_class.stored_file_ids.count > 0 %>
            <% @base_class.stored_files.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= check_box_tag "stored_file_ids[]", f.id, true %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Add Files</label>
    <div class="col-md-8">
      <div id="mulitplefileuploader">Upload</div>
    </div>
  </div>

<script type="text/javascript"> 

  function add_file_to_list(file, replace){
    
    if (replace){
      var filename = file.name+" - new version - Please unselect previous version";
    } else {
      var filename = file.name;
    }
    var file_content = "<tr><td>"+filename+"</td><td>"+ 
      '<input type="checkbox" name="stored_file_ids[]" value="'+file.id+'" checked/>'+
        '</td></tr>';
    holder = $('#stored_files');
    holder.html(holder.html()+file_content);
    if (replace) {
      $('#stored_files tr:last').effect("highlight", {}, 1200);
    }
  }
  /*
   * Settings to allow multiple files, 
   * set upload path, set filters for file types
   * and decide what to do on success/failure
   */
  var settings = {
    url: "<%= stored_files_path %>",
    method: "POST",
    allowedTypes: "<%= @file_types %>",
    fileName: "file",
    formData: { upload_type: "<%= @upload_type %>" },
    multiple: true,
    onSuccess:function(files,data,xhr)
    {
      add_file_to_list(data.storage, data.replace);
    },
    onError: function(files,status,errMsg)
    {      
    }
  }
 
  // initialize jQuery fileUploader
  $("#mulitplefileuploader").uploadFile(settings);

  oTable = $('#diagnosis_drugs_list').dataTable({
       aLengthMenu: [
        [25, 50, 100, 200, -1],
        [25, 50, 100, 200, "All"]
    ],
    iDisplayLength: -1
  });

  $('#search_table').keyup(function(){
    oTable.fnFilter( $(this).val() );
  });

  $('#diagnosis_drugs_list_filter').hide();
</script>
