<h1>Listing patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Complaints</th>
      <th>Center</th>
      <th>History</th>
      <th>Prescriptions</th>
      <th>Diagnoses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.age %></td>
        <td><%= patient.complaints %></td>
        <td><%= patient.center %></td>
        <td><%= patient.history %></td>
        <td><%= patient.prescriptions.collect(&:date).join("<br/>").html_safe %></td>
        <td><%= patient.diagnoses.collect(&:name).join("<br/>").html_safe %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
